@import "tailwindcss";

/* ================= THEME TOKENS ================= */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);  

  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
}

/* ================= BASE STYLES ================= */
@layer base {
  :root {
  --background: #5c8391;    /* Deep Slate Teal */
  --foreground: #beced4;    /* Light Steel Blue */
  --primary: #f4f8f9;       /* Cloud White */
  --secondary: #31464d;     /* Midnight Teal */
  --accent: #c3c789;        /* Moss Gold */
  --highlight: #f5efe6;     /* Bone Cream */
}

  
  body {
    @apply bg-background text-primary overflow-x-hidden;
    cursor: none;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("/assets/stardust.png");
    opacity: 0.03; /* Very subtle grain */
    pointer-events: none;
    z-index: 150;
  }

   
  /* Optional: Show default cursor on mobile devices */
  @media (pointer: coarse) {
    body { cursor: auto; }
    .custom-cursor { display: none; }
  }

  
}



@utility mainContainer{
  @apply relative min-h-screen bg-background px-8 md:px-16 overflow-hidden py-24;
}

@utility insideContainer {
  @apply max-w-7xl mx-auto z-10;
}

@utility bookGrid {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-16 items-center;
}

@utility centerFlex{
  @apply text-center flex flex-col items-center;
}

@utility premiumBtnBase {
  @apply inline-flex items-center justify-center font-['DM_Sans'] text-[0.7rem] uppercase tracking-[0.3em] font-black py-4 px-10 relative overflow-hidden select-none cursor-none transition-all duration-500;
}

@utility magneticAura {
  background: radial-gradient(circle 60px at var(--x, 0px) var(--y, 0px), rgba(195, 199, 137, 0.15), transparent 100%);
}

